---
import Head from '../components/head.astro'
import Footer from '../components/footer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="public/img/icons/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Amapola</title>
    <link rel="stylesheet" href="/src/global-styles/global.css">
</head>
<body>
    <Head/>


        <section class="about">

           <div class="historia-flex">

                <div class="historia">

                    <h1>Historia</h1>

                    <p>
                        Somos una institución académica con mas de 30 años de
                        experiencia docente en los diferentes niveles de
                        educación: Inicial, Básica y Media.
                        Fundados en el 1991 con el propósito de llevar la mejor
                        experiencia a nivel pedagógico a nuestro sector, para
                        apoyar a las familias en la difícil tarea de criar jóvenes
                        responsables, pro-activos y exitosos.
                        Nuestro enfoque innovador está basado en el desarrollo
                        de dos componentes fundamentales: la inteligencia
                        académica y la inteligencia emocional. 
                    </p>
                    <br>
                    <p>
                        Nuestro Nivel Inicial
                        cuenta con Educación Bilingue, la comprobada
                        Metodología Montessori e Innovadoras técnicas de
                        Estimulación Temprana.
                        Creemos en la importancia de preparar a nuestros
                        estudiantes en base a las exigencias del mercado laboral
                        moderno, por esta razón nuestra oferta académica esta
                        orientada a las metodologías de aprendizaje audiovisuales
                        y tecnológicas.
                    </p>
                </div>
                
                <div class="historia-img">
                    <img src="/public/img/index-image/main-fondo.jpg" alt="">
                </div>

           </div>

           <div class="montesori">

                    <h1>Educación Montessori</h1>

                    <p>
                        En nuestro Centro Educativo le damos la importancia que merece al
                        aprendizaje de sus hijos, y por tanto, implementamos La metodología
                        Montessori para el nivel Inicial, la cual tiene una base sólida y
                        fundamentada trayectoria por más de 90 años. 
                    </p>

                    <br>

                    <p>
                        El niño aprende a hablar, escribir, leer, y contar de la misma manera que
                        lo hacen al gatear, caminar o correr, todo de manera espontánea y antes
                        de los 7 años.
                    </p>

                    <br>

                    <p>
                        Mediante la aplicación del Método Montessori, su hij@ obtendrá varios
                        beneficios:
                    </p>
                    
                    <br>

                    <ul class="ul-montesori">
                        <li class="li-montesori">Generará autodisciplina</li>
                        <li class="li-montesori">Estimulará su creatividad</li>
                        <li class="li-montesori">Promoverá la cooperación</li>
                        <li class="li-montesori">Fomentará la autoevaluación</li>
                        <li class="li-montesori">Favorecerá la independencia infantil</li>
                        <li class="li-montesori">Desarrollará el aprendizaje individual</li>
                    </ul>

           </div>

        </section>


    <Footer/>
</body>
</html>

<style>

    body{
        background: rgb(59,67,123);
        background: linear-gradient(90deg, rgba(59,67,123,1) 48%, rgba(226,57,57,1) 51%);
        
    }

    .about{
        padding: 25px;
        background-color: aqua;
        margin: 0 auto;
        background-color: white;
        max-width: 1800px;
    }
    

    .historia-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
        margin-top: 70px;
        
    }

    .historia-img img{
        width: 500px;
        margin-top: 65px;
        border-radius: 45px;
    }

    .historia,
    .montesori{
        padding: 25px;
        width: 700px;
    }

    .historia h1,
    .montesori h1{
        font-size: 45px;
        font-style: italic;
        color: rgb(59, 59, 59);
    }

    .historia p,
    .montesori p{
        font-size: 20px;
    }

    .montesori{
        display: flex;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 45px;
        margin-top: 70px;
        
    }

    .ul-montesori{
        font-size: 20px;
    }

    /* Responsive */

    @media(max-width: 1366px){
        .about{
           max-width: 1330px;
        }
    }

</style>