---
import Head from '../components/head.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/public/img/icons/logo.png"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Colegio Amapola</title>
		<link rel="stylesheet" href="/src/global-styles/global.css">
	</head>
	<body>
		
		<Head/>
		

		<section class="inicio">

			<section class="bgc">
	
				<div class="main-page">
					<div class="presentation">
						<img src="/public/img/icons/logo.png" alt="">
					</div>
					 
					<div class="title">
						<h1 id="title">Colegio Amapola</h1>
						<h3 id="lema">Educando para el futuro</h3>
					</div>
				</div>
		 
			</section>
		 
		 
			<section class="relleno">

				<div class="relleno-text">
					<h1>Bienvenidos al Colegio Amapola</h1>
	
					<p>Bienvenidos a nuestra oferta academica donde pueden brindarles una direccion para el aprendisaje de su hij@ y darles la mejor educacion que se les puede dar en todo Los Mina</p>
				 </div>

				 <div class="img-relleno">
					<img src="/public/img/index-image/relleno.png" alt="">
				 </div>

			</section>

			<section class="relleno2">

				<div class="img-relleno2">
					<img src="/public/img/index-image/aulas.png" alt="" id="1" width="250">
					<img src="/public/img/index-image/cancha.png" alt="" id="2" width="250">
					<img src="/public/img/index-image/camaras.png" alt="" id="3">
			   </div>

				<div class="relleno-text2">

					<p>Pueden disfrutar de nuestras Instalaciones donde contamos con un amplio campus, cancha, camaras de seguridad, etc.</p>

				</div>

				

				<div class="btn-instalaciones">
					<button>Ver mas</button>
				</div>

			</section>

			<section class="ubicacion">
		 
				<div class="direccion">
					<h1>Direccion:</h1>
					<p>
						Pueden encontrarnos en nuestras <a href="#">Instalaciones</a>, la cual esta ubicada en <a href="https://www.google.com/maps/dir/18.5108636,-69.8478165/18.5193708,-69.8567605/@18.5144048,-69.8610099,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?entry=ttu" target="_blank" >Av. Trinitaria No. 28, Cancino 1, 
						Santo Domingo Este, Rep Dom.</a>
					</p>
					<button><a href="https://www.google.com/maps/dir/18.5108636,-69.8478165/18.5193708,-69.8567605/@18.5144048,-69.8610099,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?entry=ttu" target="_blank" >Ver mapa</a></button>
				</div>
		 
		 
				<div class="map">
					<img src="/public/img/index-image/ubicacion.jpg" alt="">
				</div>
		 
			</section>
	
		</section>

		<Footer/>

	</body>
</html>


<style>

	.bgc{
		background-image: url("/public/img/index-image/main-fondo.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100%;
		opacity: .8;
	}
	


	.main-page{
		padding: 95px 0;
		display: flex;
		justify-content:  center;
		align-items: center;
	}

	.presentation img{
		width: 300px;
	}

	.title{
		margin-right: 35px;
	}

	#title{
		font-size: 85px;
		color: rgb(255, 255, 255);
	}

	#lema{
		font-size: 68px; 
		color: white;
	}


	.ubicacion{
		margin: 105px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.direccion{
		width: 500px;
		margin-right: 110px;
	}

	.map img{
		border-radius: 45px;
	}

	.direccion h1{
		font-size: 40px;
	}

	.direccion p{
		font-size: 20px;
	}

	.direccion button{
		font-size: 20px;
		font-weight: bold;
		padding: 5px 25px;
		border-radius: 30px;
		border: 3px black solid;
		margin-top: 15px;
		background-color: white;
		cursor: pointer;
		transition: 0.3s;
	}

	.direccion button a{
		text-decoration: none;
		color: black;
	}

	.direccion button a:hover{
		color: white;
	}

	.direccion button:hover{
		border: rgb(185, 182, 182) solid;
		background-color: #3B437B;
	}

	.direccion button:active{
		color: rgb(174, 171, 171);
		background-color: #313765;
	}

	::-webkit-scrollbar {
    	display: none;
	}

	/* Responsive */

	
	@media(max-width:1200px) {
		.direccion{
			width: 380px;
			margin-right: 90px;
		}

		.map img{
			width: 400px;
			border-radius: 45px;
		}
	}
	
	@media(max-width: 1080px){
		
		.presentation img{
			width: 200px;
		}

		#title{
			font-size: 65px;
		}

		#lema{
			font-size: 48px;
		}

		.direccion{
			width: 500px;
			margin-right: 70px;
		}

		.map img{
			width: 400px;
			border-radius: 45px;
		}

		.direccion h1{
			font-size: 35px;
		}

		.direccion p{
			margin-top: 10px;
			font-size: 20px;
		}


	}

</style>