---
import Head from '../components/head.astro'
import Footer from '../components/footer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="public/img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Amapola</title>
    <link rel="stylesheet" href="/src/global styles/global.css">
</head>
<body>
    <Head/>


    


    <Footer/>
</body>
</html>

<style>

 


</style>