<footer class="pie">
    <div class="logo-foot">
        <!-- <img src="/src/img/logo.png" alt=""> -->
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatum adipisci excepturi illo molestiae dolor commodi, explicabo dolorem est. Facilis aperiam non vel fugit laboriosam eius minima minus recusandae sunt.
        </p>
    </div>

    <div class="linea"></div>

    <div class="foot-contact">
        <div class="correo">
            <h1>Contacto:</h1>
            <h3 id="correo">Correo electronico</h3>
            <p><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGLPkQWRpdlMJwWzqBxvHfmdSXXldlGnNJQsjDvhxSQfxPQbTqGghQDMRSkNPPgMWFxdtTq" target="_blank">Info@colegioamapola.com</a></p>
        </div>

        <div class="tel">
            <h3 id="tel">Telefono</h3>
            <p><!--<img src="/src/img/telefono.png" alt=""> -->809-592-3224</p>
            <p><!--<img src="/src/img/whatsapp.png" alt=""> -->8**-***-****</p>
        </div>
    </div>

</footer>

<style>

    .pie{
        padding: 25px;
        background: rgb(238,60,59);
        background: linear-gradient(142deg, rgba(238,60,59,1) 0%, rgba(59,67,123,1) 68%);
        display: flex;
        justify-content: center;
    }

    .logo-foot{
        margin-top: 25px;
    }

    .logo-foot p{
        width: 450px;
        color: white;
        padding-right: 35px;
        
    }

    .logo-foot img{
        width: 100px;
        margin-left: 35%;
        margin-bottom: 15px;
    }

    .linea{
        height: 350px;
        width: 1px;
        background-color: rgb(147, 144, 144);
    }

    .foot-contact{
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 40px;
        margin-left: 15px;
        color: rgb(255, 255, 255);
        margin-top: -30px;
    }

    .correo h3{
        margin-top: 20px;
        margin-bottom: -20px;
        font-size: 25px;

    }

    .correo a{
        font-size: 20px;
        cursor: pointer;
        color: white;
        text-decoration: none;
    }

    .correo a:hover{
        color: rgb(215, 205, 187);
    }

    .tel{
        margin-bottom: -20px;
    }

    .tel h3{
        margin-bottom: -20px;
        font-size: 25px;
    }

    .tel p{
        margin-bottom: -20px;
        font-size: 20px;
    }

    .tel img{
        width: 30px;
        padding-right: 10px;
    }

</style>