<header class="head">

    <div class="logo">
        <div class="redes">

        </div>
        <div class="logo-img">
            <!-- <img src="/src/img/logo-head.png" alt=""> -->
        </div>
        <div class="tel">

        </div>
    </div>

    <nav class="navegacion">
        <ul class="ul-head">
            <li class="li-head" id="inicio">Inicio</li>
            <li class="li-head" id="redes">Redes sociales</li>
            <li class="li-head" id="admisiones">Admisiones</li>
            <li class="li-head" id="actividades">Actividades</li>
            <li class="li-head" id="about">Sobre nosotros</li>
        </ul>
    </nav>

</header>

<style>
    .head{
        display: flex;
        justify-content: space-between;
        background: rgb(238,60,59);
        background: linear-gradient(142deg, rgba(238,60,59,1) 0%, rgba(59,67,123,1) 68%);
        align-items: center;
    }

    .logo{
        display: flex;
        align-items: center;
        margin-left: 45px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .logo img{
        width: 100px;
    }



    nav .ul-head{
        display: flex;
        list-style: none;
        align-items: center;
        margin-right: 15px;
    }

    .li-head{
        color: white;
        font-size: 20px;
        cursor: pointer;
        padding: 10px 20px;
        font-weight: bolder;
        border-radius: 30px;
        transition: ;
    }

    .li-head:hover{
        text-decoration: underline #e23939;
    }

    .li-head:active{
        color: rgb(210, 209, 209);
        background-color:#e23939;
    }


</style>