

<header class="head">

    <div class="logo">
        <div class="logo-img">
            <img src="/public/img/icons/logo-head.png" alt="">
        </div>
    </div>


    <nav class="navegacion">
        <div class="menu" >
            <img src="/public/img/icons/menu.ico" alt=""  onclick="toggleMenu()">
        </div>
        <ul class="ul-head" id="menuList">
            <li class="li-head"><a href="/">inicio</a></li>
            <li class="li-head"><a href="/contact">Contactanos</a></li>
            <li class="li-head"><a href="/admisiones">Admisiones</a></li>
            <li class="li-head"><a href="/actividades">Actividades</a></li>
            <li class="li-head"><a href="/about">Sobre nosotros</a></li>
        </ul>
        
    </nav>

</header>

<style>

    html, body{
        height: 100%;
        width: 100%;
    }

    .head{
        display: flex;
        justify-content: space-between;
        background: rgb(238,60,59);
        background: linear-gradient(142deg, rgba(238,60,59,1) 0%, rgba(59,67,123,1) 68%);
        align-items: center;
        border-bottom: 2px solid white;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 2;
        
    }

    .logo{
        display: flex;
        align-items: center;
        margin-left: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .logo img{
        width: 100px;
    }

    .menu{ 
        display: none; 
        margin-right: 40px;
        user-select: none;
        height: 100%;
    }

    .menu img{
        width: 45px;
    }

    nav .ul-head{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin-right: 15px;
    }

    .li-head a{
        font-size: 20px;
        cursor: pointer;
        padding: 10px 20px;
        font-weight: bolder;
        border-radius: 30px;
        transition: 0.1s;
    }

    .li-head a{
        text-decoration: none;
        color: white;
        user-select: none;
    }

    .li-head a:hover{
        border-bottom: 4px solid #e23939;
    }

    .li-head a:active{
        color: rgb(210, 209, 209);
        border: 2px solid #e23939;
        border-bottom: 4px solid #e23939;
    }

    /* Responsive */


    @media(max-width: 860px){

        nav .ul-head{
            text-align: center;
            flex-direction: column;
            position: absolute;
            top: 125px;
            right: -15px;
            left: 0px;
            padding: 20px;
            padding-bottom: 20px;
            line-height: 40px;
            background-color: rgb(255, 255, 255);
            border: 2px solid black;
            box-shadow: ;
            overflow: hidden;
            z-index: 2;
        }

        .li-head a{
            font-size: 20px;
            cursor: pointer;
            padding: 10px 20px;
            font-weight: bolder;
            border-radius: 30px;
            transition: 0.1s;
        }

        .li-head a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            user-select: none;
        }

        .li-head a:hover{
            border: none;
            text-decoration: underline #e23939;
        }

        .li-head a:active{
            color: rgb(210, 209, 209);
            border: none;
        }

        .menu{
            display: block;
            cursor: pointer;
            transition: 0.2s;
            padding: 10px;
            padding-bottom: -5px;
        }

    }

</style>



